@media (min-width: 996px) {
  .name, .description {
    padding-top: 10%;
    padding-bottom: 5%;
  }
  .categories {
    margin-top: 5% !important;
    padding-top: 1rem;
    h6 {
      margin-bottom: 1rem;
    }
  }
  .votes {
    padding-left: 0.5rem;
  }
  .votes-button {
    margin-bottom: 5%;
  }
  .product-grid-item {
    margin-top: 1rem !important;
  }
  .headline {
    padding-bottom: 1rem;
  }
  .image-card {
    margin-top: 1rem !important;
    img {
      width: 100%;
    }
    .longer-description {
      padding-top: 1rem;
    }
  }
}